a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

a:link{
    color: white  ;
}
a:visited{
    color: purple;
}
a:hover{
    color: aliceblue;
    font-size: 30px;
}

div{
    padding: 1px;
}
body{
    background-color: gray;
}
.capa{
    background-image: url(img/GettyImages-1646609391-e1693414960227.webp);
    height: 480px;
    width: 1180px;
    background-repeat: round;  
    background-repeat: no-repeat; 
    
}
.box{

    line-height: 70px;
    font-size: 17px;
    height: 70px;
    width: 1180px;
    background-color: purple;

}
.box li{
    display: inline-block;
}
.box li a{
    padding: 97px;
    text-decoration: none;
    color: white;
}
.box2{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    height: 280px;
    width: 1162px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px
}
.direitos{
    padding-top: 20px;
    font-size: 10px;
    text-align: center;
}

